.arrow-box{
    position:absolute;
    top:21px;;
    bottom:744;
    left:106px;
    right:1107px;
    width:67px;
    height:67px;
    flex-shrink:0;
    background-color:#FFF;
}

.icons {
    position:absolute;
    top:16.75px;
    left:11.17px;
    color:var(--primary-color);
    width:41.88px;
    height:33.5px;
    border:1px;
}


.image-container{
    position:relative;
    top:187px;
    left:530px;
    /*background-color: blueviolet;*/
    width:161px;
    height:161px;
    flex-shrink: 0;
    stroke-width:1px;
    stroke: var(--primary-color);
    /*border-radius: 100%;*/

    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    /*border:2px solid var(--primary-color);*/
}

.image-container .imageicon{
    
    position:absolute;
   
    bottom:10px;
    
    border-radius: 100%;
    

}

.input-container{
    position:relative;
    bottom:200px;
    right:200px;
    background-color: rgb(6, 211, 211);

}

.img-display-before{
    height:61px;
    width:61px;
}

.img-display-after{

    margin-top:77px;
    margin-left:46px;

    height:161px;
    width:161px;
    border-radius: 100%;
    
}

#name-field,#job-field{
    
    color:black;
    font-family:Inter;
    font-size:16px;
    font-style:normal;
    font-weight:400;
    line-height:normal;
    background-color:var(--white-color);
    padding-left:30px;
    box-shadow:3px 3px 10px 0px rgba(0,0,0,0.10);
   
}

#name-field{
    position:absolute;
    top:395px;
    width:626px;
    height:61px;
}


#job-field{
    position:absolute;
    top:480px;
    width:626px;
    height:61px;
}

.input-container #submitbtn{
    position:absolute;
    bottom:500px;
    left:500px;
    
    padding:10px 26px 10px 26px;
}
