body{
  width:1280px;
  height:832px;
  background-color: var(--white-color);
}

@import url("./stylesheet/Home.css");
@import url("./stylesheet/Screenadd.css");

:root{
  --primary-color:#164B60;
  --black-color:#000;
  --white-color:#FFF;
  --btnhover-color:#41abd1;
}

